{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>CBIT Shruti Admin</title>

	<!-- Custom fonts for this template-->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.min.css' %}">
	<!-- Custom styles for this template-->

	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js">
	</script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Custom styles for this template-->

	<style>
		h1 { color: 	#1E90FF; }
		div.a { color: 	#1E90FF; }
	  </style>


	< </head>

<body id="page-top">

	

	<!-- Page Wrapper -->
	<div id="wrapper">

		

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="add_sport.html">
				<div class="sidebar-brand-icon rotate-n-15">
					
				</div>
				<div class="sidebar-brand-text mx-3">Menu</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="{% static 'add_sport.html' %}">
					<i class="fas fa-fw fa-tachometer-alt" style="font-size:15px;color:white"></i>
					<span>Home Page</span></a>
			</li>

			

			

			<!-- Nav Item - Sports Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo">
					<i class="fas fa-futbol" style="font-size:15px;color:white"></i>
					<span>Sports</span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Activities:</h6>
						<a class="collapse-item" href="buttons.html">Add Sport</a>
						<a class="collapse-item" href="cards.html">Edit Sport</a>
						<a class="collapse-item" href="cards.html">View Sport</a>
					</div>
				</div>
			</li>

			<!-- Nav Item - Schedule Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSchedule"
					aria-expanded="true" aria-controls="collapseSchedule">
					<i class="fa fa-calendar" style="font-size:15px;color:white"></i>
					<span>Schedule</span>
				</a>
				<div id="collapseSchedule" class="collapse" aria-labelledby="headingSchedule"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Activities:</h6>
						<a class="collapse-item" href="utilities-color.html">Add Schedule</a>
						<a class="collapse-item" href="utilities-border.html">Edit Schedule</a>
						<a class="collapse-item" href="utilities-animation.html">View Schedule</a>

					</div>
				</div>
			</li>

			<!-- Nav Item - Registration Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegistration"
					aria-expanded="true" aria-controls="collapseRegistration">
					<i class="fa fa-registered" style="font-size:15px;color:white"></i>
					<span>Registration</span>
					
				</a>
				<div id="collapseRegistration" class="collapse" aria-labelledby="headingRegistration"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Activities:</h6>
						<a class="collapse-item" href="utilities-color.html">Add Registration</a>
						<a class="collapse-item" href="utilities-border.html">Edit Registration</a>
						<a class="collapse-item" href="utilities-animation.html">View Registration</a>

					</div>
				</div>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">






			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<h1>SHRUTI ADMIN PANEL</h1>
					

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>



					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none">
							<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-search fa-fw"></i>
							</a>
							<!-- Dropdown - Messages -->
							<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
								aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text" class="form-control bg-light border-0 small"
											placeholder="Search for..." aria-label="Search"
											aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</li>



						<!-- End of Topbar -->

						<!-- Begin Page Content -->
						<div class="container-fluid">

							<!-- Content Row -->
							<div class="row">

								<div class="a">
									<a href="#" class="btn btn-info btn-lg">
										<span class="glyphicon	 glyphicon-log-out"></span> Log out
									  </a>
									</div>
									<style>div.a {
										text-align: right;
									  }</style>


								<!-- /.container-fluid -->

							</div>

							
							<!-- End of Main Content -->

							<!-- End of Footer -->

						</div>
						<!-- End of Content Wrapper -->

							

			</div>
			<!-- End of Page Wrapper -->
        </body>

        </html>