{%extends 'base.html'%}
{% load static %}
{%block title%}
ADD SPORT
{%endblock%}

{%block main%}
<form method="POST" id="myForm" action="{%url 'add_sport'%}">
                              {% csrf_token %}
                  <div class="user">
                    
                    
            

 					<div class="form-group">
                      <input type="text" class="form-control form-control-user" name="Sport_id" placeholder="Enter Sport ID...">
                    </div>
                  	<div class="form-group">
                      <input type="text" class="form-control form-control-user" name="Sport_name" placeholder="Enter Sport Name...">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="Sport_category" placeholder="Enter Sport Category...">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="min_team_size" placeholder="Enter min team size...">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="max_team_size" placeholder="Enter max_team_size...">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" name="gender" placeholder="Enter gender...">
                    </div>
                    
                    
                    
                    
                    <center>
                    <div class="form-group ">
                   <button class="btn btn-primary " type="submit" value="submit" >Add Sport</button>
                  </div>
                   </center> 
                  </div>
                </form>
                {%endblock%}